[submodule "modules/tracy/thirdparty/tracy"]
	path = modules/tracy/thirdparty/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "modules/tbloader"]
	path = modules/tbloader
	url = https://github.com/EIRTeam/godot-tbloader
[submodule "modules/steamworks"]
	path = modules/steamworks
	url = https://github.com/EIRTeam/EIRTeam.Steamworks.git
	branch = master
